$def with (tweetList)

<html>
		<head>
			<title>Tweet a Ball: Dispatcher</title>
			
			<link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
			
			<script type="text/javascript" charset="utf8" src="static/DataTables/datatables.min.js"></script>
			<script>
				jQuery(document).ready( function () {
					jQuery('#table_id').DataTable();
				} );
				
								
				function deleteTweet(tweetId) {
					jQuery.ajax({url: "/delete?id="+tweetId, success: function(result){
						jQuery("#TR-"+tweetId).remove();}, error: function(result){
						alert("Non posso cancellare il tweet id: "+tweetId)} });
				}

				function printTweet(tweetId, dest) {
					jQuery.ajax({url: "/print?id="+tweetId+"&tab="+dest, success: function(result){
						jQuery("#TR-"+tweetId+" .status").html(result);}, error: function(result){
						alert("Non inviare in stampa il tweet id: "+tweetId)} });
				}
			</script>
			
		</head>
	<body>
		<table id="table_id" class="display">
		    <thead>
				<tr>
					<th>Id</th>
					<th>Message</th>
					<th>User</th>
					<th>Date</th>
					<th>State</th>
					<th>&nbsp</th>
					<th>&nbsp</th>
					<th>&nbsp</th>
				</tr>
			</thead>
			<tbody>
			$for tweet in tweetList:
				<tr id="TR-$tweet.getId()">
					<td>$tweet.getId()</td>
					<td>$tweet.getMsg()</td>
					<td>$tweet.getUser()</td>
					<td>$tweet.getDate()</td>
					<td class="status">$tweet.getStatus()</td>
					<td>
						<button class="deleteTweet" onclick=deleteTweet("$tweet.getId()")>
							Delete
						</button>
					</td>
					<td>
						<button class="deleteTweet" onclick=printTweet("$tweet.getId()","TaB_01")> White </button>
					</td>
					<td>
						<button class="deleteTweet" onclick=printTweet("$tweet.getId()","TaB_02")> Silver </button>
					</td>
				</tr>
			</tbody>
				
			</div>

	</body>
</html>